.chart {
    flex: 4;
    padding: 10px;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(228, 225, 225);
    }

    .chart-style {
        width: 730px;
        height: 300px;
    }
}

@media(max-width:1200px) {
    .chart {
        flex: 3;
        justify-content: center;

        .chart-style {
            width: 450px;
        }
    }
}

@media(max-width:998px) {
    .chart {
        .chart-style {
            width: 600px;
        }
    }
}

@media(max-width:798px) {
    .chart {
        .chart-style {
            width: 400px;
            height: 250px;
        }
    }
}

@media(max-width:500px) {
    .chart {
        .chart-style {
            width: 250px;
            height: 150px;
        }
    }
}