.cardsContainer {
    display: none;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    

    .card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        
        div {
            display: flex;
            justify-content: space-between;
            padding-bottom: 4px;
            border-bottom: 1px solid rgb(201 201 201 / 70%);
            align-items: center;
            
            &>:first-child {
                font-weight: bold ;
                padding-bottom: 5px;
          }


            &>:last-child {
                  opacity: 0.8; ;
                  padding-bottom: 5px;
            }

            figure {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .cellAction {
                display: flex;
                align-items: center;
                gap: 15px;
            
                .viewButton {
                  padding: 2px 5px;
                  border-radius: 5px;
                  color: darkblue;
                  border: 1px dotted rgba(0, 0, 139, 0.596);
                  cursor: pointer;
                }
                
                .deleteButton {
                  padding: 2px 5px;
                  border-radius: 5px;
                  color: crimson;
                  border: 1px dotted rgba(220, 20, 60, 0.6);
                  cursor: pointer;
                }
              }
        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .cellWithStatus {
            padding: 5px;
            border-radius: 5px;
        
            &.Approved {
              color: green;
              background-color: rgba(0, 128, 0, 0.151);
            }
            &.Pending {
              color: goldenrod;
              background-color: rgba(189, 189, 3, 0.103);
            }
            &.active {
              background-color: rgba(0, 128, 0, 0.05);
              color: green;
            }
            &.pending {
              background-color: rgba(255, 217, 0, 0.05);
              color: goldenrod;
            }
            &.passive {
              background-color: rgba(255, 0, 0, 0.05);
              color: crimson;
            }
          }
    }
    
}

@media(max-width:998px){
    .cardsContainer{
        display: flex;
    }
}