nav {
    height: 50px;
    border-bottom:  0.5px solid rgb(230, 227, 227);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;
            border-radius: 5px;
        }

        input {
           border: none;
           outline: none;
           background-color: transparent;

           &::placeholder {
            font-size: 12px;

           }
        }
    }

    .items {
        display: flex;
        align-items: center;

        .item {
            display: flex;
            align-items: center;
            margin-right: 20px;
            position: relative;

            &:first-child{
                gap: 5px;
            }

            .icon {
                font-size: 20px;
                cursor: pointer;
            }

            .avatar {
              width: 30px ;
              height: 30px;
              border-radius: 50%;
            }

            .counter {
                width: 15px;
                height: 15px;
                background-color: red;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                font-weight: bold;
                position: absolute;
                top: -4px;
                right: -4px;
            }
        }
    }
}

@media(max-width:798px){
    nav{
        height: auto;
        justify-content: center;
        .wrapper{
            flex-direction: column;
            gap: 10px;
            width: 100%;
            padding: 10px 0px;
        }
        .items {
            .item {
                .icon {
                    font-size: 18px
                }
    
                .avatar {
                    width: 27px;
                    height: 27px;
                }
            }
            
        }
    }
}